/* colours
Space Cadet: #22223B
Independence: #4A4E69
Heliotrope Gray: #9A8C98
Silver Pink: #C9ADA7
Isabelline: #F2E9E4
*/


header{
	background-color: #4A4E69;
}

#logo{
	width: 300px;
	float: left;
	margin: 5px;
	padding: 5px 0 15px 175px;
}

#imgleft{
	float: left;
	width: 450px;
	margin: 20px;
	margin-left: 0px;
}


#main-text-home{
	flex:1;
	padding: 40px 175px 100px 175px;
	text-align: left;
}


/* Menu page */

.main-text-menu{
	display: flex;
	flex-direction:column;
	text-align: center;
	padding: 0px 10% 0px 10%;
	flex: 1;
	background-color: #F2E9E4;
}
p.head{
	padding: 0px;
	margin: auto
}
h1.head{
	margin: auto;
	padding: 0px
}

#content{
	flex: 0.5;
	display: flex;
}

.column{
	margin-left: auto;
  	margin-right: auto;
	padding: 0px 5% 0px 5%;
}

.buttonServices{
	background-color: #4CAF50;
	color: #9A8C98;
	padding: 16px;
	font-size: 16px;
	border: none;
}


div.row{
	display: flex;
	flex-direction:column;
	object-fit: fill;
	flex: 1;
}

div.column1{
	display: flex;
	flex-direction:column;
	text-align: center;
	padding: 0px 0px 10px 0px;
	flex: 1;
	background: url(images/strawberries.jpeg);
	background-color: #F2E9E4;
	background-repeat: no-repeat;
  	background-size: 75% 50%;
} 


/* Menu Ends */

/* Font styles */

h1, h2, h3, h4{
	font-family: 'Yatra One', cursive;
}

h1{ 
	font-size: 40px; 	
}
h2{ 
	font-size: 32px; 
	color: #C9ADA7;	
}
h3{ 
	font-size: 26px; 	
}
h4{ 
	font-size: 22px; 	
}
h5{ 
	font-family: 'Alegreya', serif;
	font-size: 1.8em;
}
h6{ 
	font-family: 'Alegreya', serif;
	font-size: 1.5em;
	color: #C9ADA7;
}

p, ul, dl{
	font-family: 'Alegreya', serif;
	font-size: 19px;
}

#wrapper{
	display:flex;
	flex-direction:column;
	min-height:100vh;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

#mainNav{
	display:flex;
	width: 100%;
	justify-content: space-between;
	background-color: #4A4E69;

}


body{
	margin:0px;
	font-family:arial;
	color:#4A4E69;
	background-color: #22223B;
	text-align: center;
}

.main-body{
	padding: 40px 175px 100px 175px;
	text-align: left;
}

.main-body-center{
	padding: 40px 175px 60px 175px;
	text-align: center;
}


img{
	max-width: 100%;
	height:auto;
}
		
nav{
	background-color: #4A4E69;
	align-self: center;
	margin-right: 150px;
}

nav a:link{
	color: white;
	text-decoration:none;
	width: 125px;
}

nav a:visited{
	color: white
}

nav a:hover{
	background-color:#9A8C98;
}


#nav_ul{
	display:flex;
	/* width: 100%; */
	list-style-type:none;
	margin:0px;	
	padding:0px;
	justify-content: flex-end;
}
.navigation_list_item{
	font-family: 'Yatra One', cursive;
	background-color:#4A4E69;
	margin-top: 2px;
	margin-bottom: 2px;
	color:#F2E9E4;
	border-right: solid 2px white;
	line-height:30px;
	font-weight:bold;
	text-align:center;
	flex: 1;
}

.navigation_list_item:first-of-type{
	border-left: solid 2px white;
}

.navigation_list_item:hover{
	background-color:#9A8C98;
	color: white;
	
}

#current_page{
	background-color:#C9ADA7;
	color: white;
}

a{
	font-family: 'Alegreya', serif;
	font-size: 19px;
}

a:link{
	color:#4A4E69
}

a:visited{
	color:#4A4E69;			
}

a:hover{
	background-color:#C9ADA7;
	color: white;
}


main{
	background-color: white;
	flex:1;
	display:flex;
	flex-direction: column;
	
}

#primary_section{
	flex:1;
	padding-left:20px;
	padding-right:20px;
	margin-top:20px;
}

#aboutus_section{
	flex:1;
	padding-left:20px;
	padding-right:20px;
	text-align: left;
}

#contact_section{
	flex:1;
	padding-left:20px;
	padding-right:20px;
	text-align: left;
}

footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color:#C9ADA7;
	color: #ffffff;
	font-size: 16px;
	padding: 50px;
	height: 110px;
}


.social-icons{
	max-width: 35px;
	padding: 0 10px 0 10px;
}

/* About Us*/

.quote-background{
	background-image: url("../images/Tavern_quote.png");
	background-size: 100%;
}
.quote-block{
	display: flex;
	background-color: #F2E9E4;
	margin: 150px 0 150px 0;
	width: 100%;
	padding: 0px;
	align-items:center;
	opacity: 0.85;
}

.quote-text{
	padding: 50px 500px 50px 500px;
	color:#22223B;
	font-style: italic;
}

.quote-attr{
	font-size: 24px; 
	text-align: right;
	margin-right: 40px;
}

.image-block{
	width: 900px;
}

.the-team{
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin-bottom: 100px;
}

.team-item{
	width: 400px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 0 25px 0 25px;  
}
